<div class="guestion">
    <h2>{{ title }}</h2>
    <h3 class="text-center">
        Мы прекрасно понимаем, что могут возникнуть трудности разного характера при оформлении заказа. По этому не стесняйтесь задавать свои 
        вопросы менеджерам после оформления заказа через корзину на сайте или в этом разделе
    </h3>

    <app-question-form
        (onAdd)="updateQuestion($event)"
        >
    </app-question-form>

    <app-question-post
        [questions]="questions"
        >
    </app-question-post>

</div>
<!-- Когда передаём внутрь компонента то используем баиндинг [questions] -->
<!-- Если нужно получить от компонента то мы слушаем метод который называется (onAdd), который оборачивается в круглые скобки -->
<!-- Что бы передать объекты в метод необходимо использовать ключевое слово $event  -->