.form {
    label {
        display: block;
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: .5rem;
    }
    input {
        margin: 0.5rem 0 0 0;
        &.ng-invalid.ng-touched {
            border: 1px solid var(--primary-color);
        }
        &.ng-valid.ng-touched {
            border: 1px solid var( --primary4-color);
        }
    }  
    .validation {
        color: var(--primary-color);
    }
}
///////////////////Media
@media(max-width: 465px){
    .form-group {
        input {
            font-size: .8rem;
        }
    }
    .btn {
        padding: .3rem;
        font-size: .8rem;
    }
}