<h2>{{ title }}</h2>
<div class="delivery text-center">
  <h4>
    В рамках пандемии COVID-19 мы решили добавить возможность бесконтактного получения и оплаты заказа.
  </h4>
  <h1>
    Бесконтактная доставка
  </h1>
  <p>
    В момент доставки, курьер оставит Ваш заказ у двери вместе с накладной для проверки.
  </p>
  <p>
    После проверки своего заказа Вы озвучиваете подходящий способ оплаты.
  </p>
  <h3>
    Выберите подходящий способ оплаты:
  </h3>
  <ul 
    class="d-flex justify-content-around text"
    [ngSwitch]="view">
    <li class="col-4">
      <img 
        class="w-10" 
        [src]="payment[0]"
        (click)="view = 0"
        ><br>
        Оплата по онлайн-счёту<br>
      <ng-template
        ngSwitchCase="0"
        >
        Для получения счёта на оплату необходимо будет указать контактный номер или E-mail при оформлении заказа.
      </ng-template>
    </li>
    <li class="col-4 ">
      <img 
        class="w-10" 
        [src]="payment[1]"
        (click)="view = 1"
        ><br>
      Перевод на карту через онлайн-банк<br>
      <ng-template
        ngSwitchCase="1"
        >
        Знакомый всем нам и так полюбившийся перевод на карту.
      </ng-template>
    </li>
    <li class="col-4">
      <img 
        class="w-10" 
        [src]="payment[2]"
        (click)="view = 2"
        ><br>
      Перевод с телефона на счёт<br>
      <ng-template
        ngSwitchCase="2"
        >
        Оплатить можно как банковской картой, так и многими другими удобными способами онлайн-оплаты.
      </ng-template>
    </li>
  </ul>
</div>
<div class="offset-3 payment">
    <h1>Сроки доставки и оплата</h1>
    <p>Мы доставляем в день заказа!</p>
    <span>Каждый день с 8:00 до 22:00.</span><br>
     <!--  (click)="isVisible=!isVisible" При клике меняем значение -->
     <button 
        type="button" 
        class="btn btn-info"
        (click)="isVisible=!isVisible"
        >
        <span>
            {{ isVisible ? 'Скрыть': 'Показать' }}
        </span>
    </button><br>

    <ng-template 
      [ngIf]="isVisible"
      >
      <div class="wrap">
        <ul>
          <li>
            Если Вам удобно на завтра/послезавтра/через неделю - пожалуйста, оформим предзаказ. Вам остаётся выбрать
            наиболее удобное время и
            согласовать его с менеджером.
          </li>
          <li>
            Оплатить свой заказ Вы можете при получении (никаких предоплат или залогов). Сначала Вы все посмотрите,
            убедитесь, что довольны
            продукцией, и после этого произведёте оплату.
          </li>
        </ul>
      </div>
    </ng-template>
</div>