.btn {
    margin: 1rem 0;
}
.details {
    ul {
        margin: 1rem 0;
         li {
             margin-bottom: 1rem;
             font-size: 1.26rem;
         }
    }
}
.btn__details {
    padding: .6rem;
}