<h2>{{ header }}</h2>
<div>
    <button 
        type="button" class="btn btn-info"
        routerLink="/goods"
        >
        Назад
    </button>
    <h1>
        Наш девиз: {{ statisticalInformation }}
    </h1>
    <div class="d-flex justify-content-between flex-wrap details">
        <ul class="col-lg-7 col-12 p-0">
            <li>
                Шрих код товара: {{ goodId }}
            </li>
            <li>
                Название товара: {{ itemID.title }}
            </li>
            <li>
                Категория товара: {{ itemID.category }}
            </li>
            <li>
                Описание товара: {{ itemID.discription }}
            </li>
            <li>
                Особенности товара: {{ itemID.details }}
            </li>
            <li>
                Стоимость товара: {{ itemID.price | currency:"USD":true:"1.2-2" }}
            </li>
        </ul>
        <div class="col-lg-5 col-12 p-0 image">
            <img [src]="itemID.images">
        </div>
    </div>
</div>